body {
	margin: 0;
	background-color: black;
}

#controls {
	position: fixed;
	bottom: 0;
}

select {
	display: inline-block;
}

form {
	display: inline-block;
}

#reader {
	color: white;
	text-size: 24px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	//letter-spacing: 2px;
}

#front {
	text-align: right;
}

#middle {
	color: red;
	text-align: left;
}

table {
	position: absolute;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	border: 0px;
}
